<h1 class="text-center">Find Your Dream Jobs Here</h1>

<div class="row mt-5">
  <div class="col-lg-10 mx-auto">
    <div class="row">
      <div class="col-lg-4">
        <%= link_to companies_path do %>
          <div class="card rounded-0 shadow">
            <div class="card-body text-center">
              <h3 class="text-primary">Total Companies</h3>
              <p class="lead"><%= Company.count %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-lg-4">
        <%= link_to jobs_path(type: 'remote') do %>
          <div class="card rounded-0 shadow">
            <div class="card-body text-center">
              <h3 class="text-primary">Remote Jobs</h3>
              <p class="lead"><%= pluralize(Job.remote_jobs.count, 'Job') %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-lg-4">
        <%= link_to jobs_path(type: 'onsite') do %>
          <div class="card rounded-0 shadow">
            <div class="card-body text-center">
              <h3 class="text-primary">Onsite Jobs</h3>
              <p class="lead"><%= pluralize(Job.onsite_jobs.count, 'Job') %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>