<div class="mt-5">
  <h1 class="text-primary"><%= @company.name %></h1>
  <p class="lead fw-bold text-secondary"><i class="bi-pin-map-fill"></i> <%= @company.address %></p>
  <p class="lead fw-bold text-secondary"><i class="bi-phone"></i> <%= @company.contact %></p>
  <hr>
  <% if @jobs.present? %>
    <h4 class="text-secondary mt-4 mb-4">Open jobs at <%= @company.name %></h4>
    <% @jobs.each do |job| %>
      <div class="card shadow mb-3">
        <div class="card-body">
          <p class="lead fw-bold text-primary"><%= job.title %></p>
          <div class="row">
            <div class="col-lg-3">
              <p class="fw-bold text-secondary my-1">Applicable for</p>
              <small class=""><%= job.applicable_for %></small>
            </div>
            <div class="col-lg-3">
              <p class="fw-bold text-secondary my-1">Salary Range</p>
              <small class=""><%= job.salary_range %></small>
            </div>
            <div class="col-lg-3">
              <p class="fw-bold text-secondary my-1">Total Positions</p>
              <small class=""><%= job.total_positions %></small>
            </div>
            <div class="col-lg-6 mt-3 mb-2">
              <%= link_to 'Apply to this job', new_applied_job_path(job_id: job.uuid), class: 'btn btn-primary' %>
              <%= link_to 'View job', job, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>