<div class="mt-5">
  <h1 class="text-primary"><%= @company.name %></h1>
  <p class="lead fw-bold text-secondary"><i class="bi-pin-map-fill"></i> <%= @company.address %></p>
  <p class="lead fw-bold text-secondary"><i class="bi-phone"></i> <%= @company.contact %></p>
  <p class="lead fw-bold text-secondary"><i class="bi-building"></i> <%= @company.domain %></p>
  <p class="lead fw-bold text-secondary"><i class="bi-globe"></i> <%= link_to @company.website, @company.website, target: "_blank" %></p>
  <hr>
  <% if @jobs.present? %>
    <h4 class="text-secondary mt-4 mb-4">Open jobs at <%= @company.name %></h4>
    <% @jobs.each do |job| %>
      <div class="card shadow mb-3">
        <div class="card-body">
          <p class="lead fw-bold text-primary"><%= job.title %></p>
          <div class="row">
            <div class="col-lg-3">
              <p class="fw-bold text-secondary my-1">Applicable for</p>
              <small class=""><%= job.applicable_for %></small>
            </div>
            <div class="col-lg-3">
              <p class="fw-bold text-secondary my-1">Salary Range</p>
              <small class=""><%= job.salary_range %></small>
            </div>
            <div class="col-lg-3">
              <p class="fw-bold text-secondary my-1">Total Positions</p>
              <small class=""><%= job.total_positions %></small>
            </div>
            <div class="col-lg-6 mt-3 mb-2">
              <%= link_to 'Apply to this job', new_applied_job_path(job_id: job.uuid), class: 'btn btn-primary' %>
              <%= link_to 'View job', job, class: 'btn btn-primary' %>
              <% if user_signed_in? && current_user.job_seeker? %>
                <% if current_user.jobs.include?(job) %>
                  <span class="badge text-bg-primary">Saved Job</span>
                <% else %>
                  <%= link_to 'Save Job', user_saved_jobs_path(job_id: job.uuid), class: "btn btn-outline-danger", data: { turbo_method: :post } %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="text-center">
      <h1 class="mt-5 mb-5">No Open Jobs Found</h1>
      <%= link_to 'Find More Jobs At Other Companies', jobs_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>