<div class="row">
  <div class="col-lg-9">
    <h2 class="text-primary mt-4 mb-5"><%= @job.title %></h2>
    <p class="lead text-secondary"><%= @job.description %></p>
    <p class="lead text-secondary fw-bold">Total Positions: <%= @job.total_positions %></p>
    <p class="lead text-secondary fw-bold">Who can Apply: <%= @job.applicable_for %></p>
    <p class="lead text-secondary fw-bold">Salary Range: <%= @job.salary_range %></p>
    <p class="lead text-secondary fw-bold">Job Type: <%= @job.job_type %></p>
    <p class="lead text-secondary fw-bold">Location: <%= @job.job_location %></p>
    <% if request.referrer.present? %>
      <%= link_to 'Back to list', request.referrer, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'Back to list', company_jobs_path, class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'View as Job Seeker', @job, class: 'btn btn-outline-primary', target: :_blank %>

    <% if @applied_jobs.present? %>
      <h2 class="text-secondary mt-4 mb-4"><%= @applied_jobs.count %> Job applications received!</h2>

      <div class="mt-4 mb-4">
        <%= form_with url: company_job_path(@job), method: :get, local: true do |form| %>
          <div class="form-group row mb-5">
            <div class="col-lg-4">
              <%= form.select :joining_duration, options_for_select(AppliedJob::JOINING_DURATION, selected: params[:joining_duration]), { prompt: 'Select Joining Period' }, { class: 'form-select' } %>
            </div>
            <div class="col-lg-4">
              <%= form.select :serving_notice, options_for_select([['Yes', true], ['No', false]], selected: params[:serving_notice]), { prompt: 'Serving Notice Period' }, { class: 'form-select' } %>
            </div>
            <div class="col-lg-4">
              <%= form.submit 'Filter Applications', class: "btn btn-primary" %>
              <%= link_to 'Reset', company_job_path(@job), class: 'btn btn-outline-primary' %>
            </div>
          </div>
        <% end %>

        <%= button_to 'Export as CSV', export_job_applications_company_job_path(@job, joining_duration: params[:joining_duration], serving_notice: params[:serving_notice], commit: params[:commit], as: 'csv'), class: 'btn btn-secondary' %>
        <%= button_to 'Export as Excel', export_job_applications_company_job_path(@job, joining_duration: params[:joining_duration], serving_notice: params[:serving_notice], commit: params[:commit], as: 'xls'), class: 'btn btn-secondary' %>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Applied By</th>
            <th>Email</th>
            <th>Expected CTC</th>
            <th>Current CTC</th>
            <th>Able to join within</th>
            <th>Notice Period</th>
            <th>Applied On</th>
          </tr>
        </thead>
        <tbody>
          <% @applied_jobs.each do |applied_job| %>
            <tr>
              <td><%= applied_job.job_seeker.name %></td>
              <td><%= applied_job.job_seeker.email %></td>
              <td><%= applied_job.expected_ctc %></td>
              <td><%= applied_job.current_ctc %></td>
              <td><%= applied_job.estimated_joining_within %></td>
              <td><%= applied_job.serving_notice_period ? 'Yes' : 'No' %></td>
              <td><%= applied_job.created_at.strftime("%Y-%m-%d") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="col-lg-3">
  </div>
</div>
  