<div class="row">
  <div class="col-lg-6 mx-auto mt-5">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="text-center">Sign Up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name, type: params[:type])) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <% if params[:type].present? && params[:type] == 'hire' %>
            <%= f.hidden_field :role, value: 'employer' %>
            <div class="form-group mb-3">
              <%= f.label :company_name %>
              <%= text_field_tag :company_name, nil, class: "form-control form-control-lg" %>
            </div>  
          <% elsif params[:type].present? && params[:type] == 'seeker' %>
            <%= f.hidden_field :role, value: 'job_seeker' %>
          <% end %>

          <div class="form-group mb-3">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control form-control-lg" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control form-control-lg" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control form-control-lg" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :contact_number %>
            <%= f.text_field :contact_number, class: "form-control form-control-lg" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
          </div>

          <div class="d-grid gap-2 actions mt-3">
            <%= f.submit "Register Now", class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>
        <p class="lead mt-2">
          <span class="text-secondary">Already have an account?</span>
          <%= link_to 'Log In', new_user_session_path %>
        </p>
      </div>
    </div>
  </div>
</div>
